
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 7rem;
}.name-t7f {
  width: 100%;
  height: 3rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: 0.072rem;
  color: #808080;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
